* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica;
}

#content {
  transform: translateZ(20px);
}

body {
  width: 100%;
  height: 100%;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/683ca547869855.5a003dda15505.jpg");
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.background {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/683ca547869855.5a003dda15505.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.card {
  transform-style: preserve-3d;
  width: 29%;
  height: 10%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  z-index: 2;
  border-radius: 1.5rem;
  padding: 29px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
}

.card input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 30px;
  background: rgba(91, 133, 196, 1);
  outline: none;
  border: none;
  border-top: 2px solid rgb(91, 133, 196);
  border-bottom: 2px solid rgb(91, 133, 196);
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
  transition: 0.5s;
}
.card input::placeholder {
  color: #fff;
  font-size: 14px;
}
.card button {
  width: 90px;
  height: 30px;
  border-radius: 30px;
  margin-top: 15px;
  border: none;
  background: rgba(205, 109, 155, 1);
  color: #fff;
  font-size: 16px;
  border-top: 2px solid rgb(205, 109, 155);
  border-bottom: 2px solid rgb(205, 109, 155);
  padding: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.card button:hover,
.card input:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 20%);
  letter-spacing: 2.7px;
}

.judul {
  transform-style: preserve-3d;
  margin-top: 1rem;
  width: 60%;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  z-index: 2;
  border-radius: 1.5rem;
  padding: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
}

.listPlayer {
  transform-style: preserve-3d;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  z-index: 2;
  border-radius: 1.5rem;
  padding: 10px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 7px 2px rgba(0, 0, 0, 0.09);
}

.listPlayer h1 {
  font-size: 16pt;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

thead {
  border-bottom: 1pt solid white;
}

.judul h1 {
  font-size: 24pt;
  text-align: center;
}

.card h2 {
  font-size: 18pt;
  text-align: center;
  margin-bottom: 20px;
}
.btn-edit {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: rgb(91, 133, 196);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.btn-del {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  border: none;
  background: rgba(205, 109, 155, 1);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#Header {
  font-weight: 500;
  font-size: 60px;
}

#bottom {
  font-size: 20px;
}

#bottomMarg {
  position: absolute;
  bottom: 31px;
  letter-spacing: 5.5px;
  text-decoration: none;
  color: white;
}

.centerCont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  background: rgba(76, 0, 130, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 5px 5px 15px 0 rgba(27, 3, 3, 25%);
  border-radius: 20px;
  border-top: 4px solid rgba(159, 38, 245, 25%);
  border-bottom: 4px solid rgba(159, 38, 245, 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.box:hover {
  box-shadow: 0 0 35px 0 rgba(27, 3, 3, 25%);
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(159, 38, 245, 25%), transparent);
  transform: skew(-18deg);
  transition: 0.5s;
  z-index: -2;
}
.box:hover::before {
  transform: translateX(100%);
}
